<div class="form-section">
  <div class="container">
      <div class="row">
          <div class="col-6 mx-auto form-col">
              <h3>Add New Task</h3>
              <div class="card card-body">
                  <form #addTodoForm="ngForm" (ngSubmit)="onSubmitForm(addTodoForm)">
                      <div class="form-group">
                          <label for="text">Task</label>
                          <input 
                          class="form-control" 
                          name="text" 
                          [(ngModel)] = "text" 
                          #taskText = "ngModel" 
                          required
                          maxlength="150"
                          >
                      </div>
                      <!-- /.form-group -->
                      <button type="submit" class="btn btn-primary">Add task</button>
                  </form>
              </div>
              <!-- /.card card-body -->
          </div>
          <!-- /.col-6 -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->
</div>